version: "3.9"

services:
    php-fpm:
        volumes:
            - ./application:/var/www/application
            - var:/var/www/application/var
        environment:
            PHP_IDE_CONFIG: "serverName=application"

    nginx:
        volumes:
            - ./application/public:/var/www/application/public:ro
            - ./docker/development/nginx/etc/conf.d:/etc/nginx/conf.d:ro

    node:
        volumes:
            - ./application:/var/www/application

volumes:
    var: ~
