<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="greeting"></div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/index.bundle.js') }}"></script>
        {% endblock %}
    </body>
</html>
